*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    margin: 50px 100px;
    font-size: 50px;
}
#wrapper{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}

.recent-scores{
    display: flex;
    justify-content: space-between;
    min-width: 30vh;
}

::placeholder{
    color: rgb(206, 204, 204);
    font-size: 10px
}

.add-input{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.scores{
    border: 1px solid black;  
    margin-top: 20px;
}
.scores li{
    list-style: none;
    padding: 5px;  
}
.scores li:nth-child(even){
    background: rgb(207, 207, 207);
}

.submit-button{
    align-self: end;
    width: 80px;
}